/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
app/Http/Controllers/API/User/VotingController.php
app/Http/Controllers/API/User/LostFoundItemController.php
app/Http/Controllers/API/User/ImpLinkController.php
app/Http/Controllers/API/User/FaqController.php